div {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease-in-out, border-bottom 0.3s;
    padding-bottom: 5px;
}

a:hover {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
}

a:active {
    color: #004085;
}

a.router-link-active {
    color: #28a745;
    border-bottom: 3px solid #28a745;
}
